/* application css */
#main {font-size:200%;}
.hl {color:red;}

.treetoc .selected {background:highlight;border-radius: 5px}
.treetoc .childnode {left:15px;position:relative;}
.treetoc .caption   {cursor:pointer;}
.treetoc .folderbutton  {cursor: pointer;text-decoration: none}
.treetoc a.folderbutton:hover {background:silver;border-radius:50%;}
.treetoc .closed {font-size:75%;}
.treetoc .opened {font-size:75%;}
.treetoc .leaf   {font-size:75%;}
.treetoc .deletebutton {background:red;color:yellow;}
.treetoc .nodelink {font-size:65%;cursor: pointer;}
.treetoc .nodelink:hover {border-radius: 8px;background: silver;text-decoration: none}
button:disabled {color:silver;}
